@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Plus Jakarta Sans font */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans', sans-serif !important;; /* Use Plus Jakarta Sans globally */
}

/* Custom utility for text balance */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* In globals.css or your component's CSS module */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust to fit your navbar height */
  overflow: hidden;
}

.logo {
  max-width: 50% !important;
  max-height: 100% !important;
  object-fit: contain;
}

.footer-logo {
  max-width: 100% !important;
  max-height: 100% !important;
  object-fit: contain;
}
